<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<div class="centered_content">
    <h1 class="main_header" style="border-bottom: black 3px solid; padding-bottom: 25px">
        Activity Management System</h1>
    <p style="text-align: left">
        <b th:text="${user}" style="color: red"></b>
        All activities:
    </p>
    <table class="activities_table">
        <thead>
        <th>First dose center</th>
        <th>First dose data</th>
        <th>First dose status</th>
        <th>Second dose center</th>
        <th>Second dose date</th>
        <th>Second dose status</th>
        </thead>
        <tr th:each="activity : ${activities}">
            <td th:text="${activity.first_dose_center}"></td>
            <td th:text="${activity.first_dose_date}" style="text-align: left"></td>
            <td th:text="${activity.first_dose_status}"></td>
            <td th:text="${activity.second_dose_center}"></td>
            <td th:text="${activity.second_dose_date}"></td>
            <td th:text="${activity.second_dose_status}"></td>
            </td>
        </tr>
    </table>
    <button onclick="exit()">Exit and close</button>
</div>
