<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<div class="centered_content">
    <h1 class="main_header" style="border-bottom: black 3px solid; padding-bottom: 25px">
        Appointments Management System</h1>
    <p style="text-align: left">
        <b th:text="${appointments_number}" style="color: red"></b>
        appointment(s) are waiting for confirmation:
    </p>
    <table class="appointments_table">
        <thead>
        <th>Appointment ID</th>
        <th>User ID</th>
        <th>Dose N.O.</th>
        <th>Brand</th>
        <th>Vac Center</th>
        <th>Status</th>
        <th>Date</th>
        <th>Action</th>
        </thead>
        <tr th:each="appointment : ${appointments}">
            <td th:text="${appointment.id}">1</td>
            <td th:text="${appointment.userId}" style="text-align: left"></td>
            <td th:text="${appointment.doseNumber}"></td>
            <td th:text="${appointment.brand}"></td>
            <td th:text="${appointment.vaccinationCenter}"></td>
            <td th:text="${appointment.status}"></td>
            <td th:text="${appointment.date}"></td>
            <td th:value="${appointment.id}">
                <button th:onclick="|approve('${appointment.id}', '${appointment.doseNumber}')|">Approve</button>
            </td>
        </tr>
    </table>
    <button onclick="exit()">Exit and close</button>
</div>
