<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Vaccination Assistant</title>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
</head>

<body>
    <div class="centered_content">

        <h1 class="main_header">Welcome to Runtime Terror Vaccination Assistant</h1>
        <ul class="nav_bar">
            <li><a href="/login"><button>Login</button></a></li>
            <li><a href="/register"><button>Register</button></a></li>
            <li><a href="/activities"><button>Activities</button></a></li>
            <li><a href="/index"><button>Booking</button></a></li>
            <li><a href="/forum"><button>Forum</button></a></li>
            <li><button onclick="logout()">Logout</button></li>
        </ul>

        <form class="appointment_form" onsubmit="submitAppointmentForm()">
            <div class="form_line">
                <label>Please select which dose brand: </label>
                <select id="dose_select">
                    <option value="PFIZER">Pfizer</option>
                    <option value="MODERNA">Moderna</option>
                </select>
            </div>

            <div class="form_line">
                <label>Please select date: </label>
                <input id="date_select" type="date" min="2022-03-01" max="2022-12-31" required>
            </div>

            <div class="form_line">
                <label>Please select vaccination center: </label>
                <select id="center_select">
                    <option value="UCD">UCD Campus</option>
                    <option value="CITY_WEST">City West</option>
                    <option value="CROKE_PARK">Croke Park</option>
                </select>
            </div>


            <input type="submit" class="submitBtn" value="OK">

        </form>

    </div>
</body>
</html>