<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Vaccination Assistant</title>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
</head>

<body onload="indexLoading()">
    <div class="centered_content">

        <h1 class="main_header">Welcome to Runtime Terror Vaccination Assistant</h1>
        <ul class="nav_bar">
            <li id="loginButton"><a href="/login"><button>Login</button></a></li>
            <li><a href="/register"><button>Register</button></a></li>
            <li id="activityButton"><button onclick="allActivities()">Activities</button></li>
            <li><a href="/index"><button>Booking</button></a></li>
            <li><a href="/forum"><button>Forum</button></a></li>
            <li><button onclick="logout()">Logout</button></li>
            <li id="adminButton"><button onclick="iAmAdmin()">Admin</button></li>
        </ul>
        
        <div th:if="${param.tryAgain}">
            <div class="alert alert-info">
                   You must book first appointment!
            </div>
        </div>

        <form class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="form-group">
                    <label class="control-label">Please select which dose brand: </label>
                    <select class="form-control" id="dose_select">
                        <option value="PFIZER">Pfizer</option>
                        <option value="MODERNA">Moderna</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="control-label">Please select date: </label>
                    <input class="form-control" id="date_select" type="date" min="2022-03-01" max="2022-03-31" required>
                </div>

                <div class="form-group">
                    <label class="control-label">Please select slot: </label>
                    <select class="form-control" id="slot_select">
                        <option value="MORNING">9am - 12pm</option>
                        <option value="AFTERNOON">12pm - 3pm</option>
                        <option value="EVENING">3pm - 6pm</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="control-label">Please select vaccination center: </label>
                    <select class="form-control" id="center_select">
                        <option value="UCD">UCD Campus</option>
                        <option value="CITY_WEST">City West</option>
                        <option value="CROKE_PARK">Croke Park</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-success" onclick="submitAppointmentForm()">Submit</button>
                <span>Already Booked First Appointment? <a href="/" th:href="@{/appointment2}">Book
                    second appointment here</a></span>
            </div>
        </form>

    </div>
</body>

</html>