<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Vaccination Assistant</title>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
    <!-- <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" /> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vega@5.20.2/build/vega.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@5.1.1/build/vega-lite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6.20.1/build/vega-embed.min.js"></script>
</head>

<body onload="indexLoading()">
    <div class="centered_content">

        <h1 class="main_header">Welcome to Runtime Terror Vaccination Assistant</h1>
        <ul class="nav_bar">
            <li id="loginButton"><a href="/login"><button>Login</button></a></li>
            <li><a href="/register"><button>Register</button></a></li>
            <li id="activityButton"><button onclick="allActivities()">Activities</button></li>
            <li><a href="/index"><button>Booking</button></a></li>
            <li><a href="/forum"><button>Forum</button></a></li>
            <li><button onclick="logout()">Logout</button></li>
        </ul>
        
        <div th:if="${param.tryAgain}">
            <div class="alert alert-info">
                   You must book first appointment!
            </div>
        </div>

        <form class="row">
            <div class=form>
                <div class="form-group">
                    <label class="control-label">Please select which dose brand: </label>
                    <select class="form-control" id="dose_select">
                        <option value="PFIZER">Pfizer</option>
                        <option value="MODERNA">Moderna</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="control-label">Please select date: </label>
                    <input class="form-control" id="date_select" type="date" min="2022-03-01" max="2022-12-31" required>
                </div>

                <div class="form-group">
                    <label class="control-label">Please select slot: </label>
                    <select class="form-control" id="slot_select">
                        <option value="MORNING">9am - 12pm</option>
                        <option value="AFTERNOON">12pm - 3pm</option>
                        <option value="EVENING">3pm - 6pm</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="control-label">Please select vaccination center: </label>
                    <select class="form-control" id="center_select">
                        <option value="UCD">UCD Campus</option>
                        <option value="CITY_WEST">City West</option>
                        <option value="CROKE_PARK">Croke Park</option>
                    </select>
                </div>
                <br>
                <button type="submit" class="btn btn-success" onclick="submitAppointmentForm()">Submit</button>
                <span>Already Booked First Appointment? <a href="/" th:href="@{/appointment2}">Book
                    second appointment here</a></span>
            </div>
        </form>

        <label style="border-top: black 1px solid; width: 100%; margin-top: 3%; padding-top: 3%">Statistics</label><br>
        <div id="vis"></div>
        <script>
            renderVis()
        </script>

    </div>
</body>

</html>