<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <script type="text/javascript" src="js/login.js"></script>
</head>
<body>
<body>
<form>
    <table border="20" align="center" width="55%">
        <caption>Login</caption>

        <tr>
            <td align="right">
                Email：
            </td>
            <td><input type="text" id="userEmail"/>
                <span id="text_1"></span>
        </tr>
        <tr>
            <td align="right">
               Password：
            </td>
            <td><input type="Password" id="password"/>
                <span id="text_2"></span>
            </td>
        </tr>
        <tr>
            <td align="center" colspan="2">
                <button type="reset" onclick="Login()" >Login</button>
                <button type="reset" onclick="Redirect()">Signup</button>
            </td>
        </tr>
    </table>
</form>
</body>

</html>